*.class

# Package Files #
*.jar
*.war
*.ear

.settings
.settings/
.settings/*
/.settings
/.settings/
/.settings/*

bin
bin/
bin/*
/bin
/bin/
/bin/*

build
build/
build/*
/build
/build/
/build/*

.classpath
/.classpath
.project
/.project
/build/
/target/

target
target/
target/*
/target
/target/
/target/*

.idea
*.iml
out
gen